nav {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 120px);
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 60px;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.8), 0 0 0 1px rgba(201, 253, 211, 0.15) inset;
}

nav .logo {
  font-size: 1.5rem;
  color: var(--md_accent_color);
  cursor: pointer;
  font-family: 'Space Grotesk';
  font-weight: 500;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease;
  font-family: 'Google Sans', sans-serif;
  font-weight: 500;
  text-decoration: none !important;
}

nav ul li a:hover {
  color: var(--md_accent_color);
}

.mobile-nav {
  display: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

#downloadBtn {
  background-color: var(--md_accent_color);
  background-image: linear-gradient(65deg, var(--md_accent_dark_color), var(--md_accent_color));
  padding: 10px 20px;
  color: black;
  border-radius: 100px;
}

#downloadBtn:hover {
  background: var(--md_accent_dark_color);
}